/* <===================TYPOGRAPHY & FONTS===================> */

@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Quicksand&display=swap');

/* <===================CSS VARIABLES===================> */

:root {
    --h1-size: 6rem;
    --h2-size: 2.1rem;
    --h3-size: 1.7rem;
    --text-size: 1.3rem;
    --horizontal-margin-spacing: 5rem;
    --grey-color-light: rgba(232, 230, 230, .6);
    --grey-color: rgba(232, 230, 230, 1);
}

/* <===================UNIVERSAL CSS===================> */

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Cinzel', serif;
    color: #212121;
}

html {
    scroll-behavior: smooth;
}

.hz-margin {
    padding: 0 var(--horizontal-margin-spacing);
}

h1 {
    font-size: var(--h1-size);
    font-weight: 500;
    line-height: var(--h1-size);
}

h2 {
    font-size: var(--h2-size);
    font-weight: bold;
}

h3 {
    font-size: var(--h3-size);
    font-weight: 500;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

.text, a {
    font-family: 'Quicksand', sans-serif;
    font-size: var(--text-size);
    line-height: 1.3rem;
}

.huge-btn{
    display: block;
    font-size: 1rem;
    background: transparent;
    border: 1px solid #212121;
    padding: 25px 50px;
    border-radius: 50px;
    width: fit-content;
    margin: 30px 0;
}
.huge-btn:hover{
    color: grey;
    border-color: grey;
}

.v-reposition-container {
    position: absolute;
    left: 0;
    width: 100vw;
}

.h-reposition-container {
    width: 100vw;
    position: relative;
    top: 100vh;
}

/* <===================NAVBAR===================> */

nav {
    height: 3vh;
    margin-bottom: 20vh;
}

nav img {
    width: 120px;
    float: right;
    margin-right: 20px;
}

@media (max-width:1000px) {
    html {
        font-size: 10px;
    }
}

/* <===================HOME===================> */

.container-out {
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home-img {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/weddinginvite-171124.appspot.com/o/IMG20230629130500.jpg?alt=media&token=f6a0acfa-644a-41f6-994b-a5dd7fe0ba2f);
    background-size: cover;
    background-position: center;
}

.home-img-sm {
    display: none;
    width: 100%;
    margin: 20px 0 0 0;
    height: 50vh;
}

#home-img-lg {
    display: block;
    height: 110vh;
    width: 50vw;
    background-position-x: -100px;
}

@media (max-width:1000px) {
    .container-out {
        flex-direction: column;
    }

    .home-img-sm {
        display: block;
    }

    #home-img-lg {
        display: none;
    }
}

/* <===================TIMELINE===================> */

.timeline {
    display: block;
    background-color: var(--grey-color-light);
    float: left;
    position: relative;
    top: -30vh;
    width: 100%;
    backdrop-filter: blur(4px);
    padding: 8vh var(--horizontal-margin-spacing);
}

.timeline-container {
    display: flex;
    flex-direction: row;
    margin: 8vh 0;
}

.timeline-img {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/chuck-842bb.appspot.com/o/GurAmanWed%2Fpic2.jpg?alt=media&token=7a0e5f94-d68e-4d32-bd3b-2a82b7acd40c);
    height: 70vh;
    width: 30vw;
    background-position: center;
    background-size: cover;
}

.timings {
    margin: 30px;
}

.timeline-container .text {
    padding: 1rem 0 1rem 4rem;
}

@media (max-width:1000px) {
    .timeline {
        background-color: var(--grey-color);
        float: none;
        position: relative;
        top: 0;
        width: 100%;
        backdrop-filter: blur(0);
        height: fit-content;
    }

    .timeline-container {
        flex-direction: column;
    }

    .timeline-img {
        height: 50vh;
        width: 100%;
    }
}

/* <===================STORY===================> */

@media (max-width:1000px) {
    .h-reposition-container {
        position: relative;
        top: 0;
    }
}

/* <===================GALLERY===================> */

.gallery {
    display: flex;
    padding: 20vh 0;
    justify-content: center;
    align-items: center;
}

.gallery-img {
    width: 30vw;
    height: 30vw;
    margin: 10px;
    background-size: cover;
    background-position: center;
}

.gallery-img:nth-child(1) {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/weddinginvite-171124.appspot.com/o/IMG20240122084912.jpg?alt=media&token=869e1d3e-8fb8-45f5-866a-0f3d6164c890);
    background-position-x: right;
}

.gallery-img:nth-child(3) {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/weddinginvite-171124.appspot.com/o/IMG_20211206_134639.jpg?alt=media&token=a4eec33a-65d1-4cea-a37a-4692dca82179);
}

.gallery-img:nth-child(2) {
    background-position-y: top;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/weddinginvite-171124.appspot.com/o/IMG20240718140148.jpg?alt=media&token=dc483cc2-4a1e-4132-8dd0-834d011a4ed1);
}

@media (max-width:1000px) {
    .gallery {
        flex-direction: column;
        padding: 0;
    }

    .gallery-img {
        width: 100vw;
        height: 90vw;
        margin: 2px 0;
    }

    .gallery-img:nth-child(2) {
        position: relative;
        left: -(var(--horizontal-margin-spacing));
    }
}

/* <===================SOCIALS===================> */

#socials {
    padding: 20vh var(--horizontal-margin-spacing) 0 var(--horizontal-margin-spacing);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.socials-container {
    display: block;
    text-align: center;
    width: 30vw;
}

.socials-container .text {
    text-align: center;
    margin: 20px 0;
}

.socials-container .hashtag {
    text-align: center;
    margin: 20px 0 10vh 0;
    font-size: 3rem;
}

.socials-img {
    display: block;
    height: 100vh;
    width: 40vw;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/weddinginvite-171124.appspot.com/o/IMG_20211206_143856__02.jpg?alt=media&token=3075de1a-fc70-4fa6-a864-c532618220d7);
    background-size: cover;
    background-position-y: top;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
}

.socials-img-sm {
    display: none;
}

.socials-img-lg {
    display: block;
}

@media (max-width:1000px) {
    #socials {
        flex-direction: column;
    }

    .socials-img {
        width: 100%;
        height: 50vh;
    }

    .socials-img-sm {
        margin-top: 10vh;
        display: block;
    }

    .socials-img-lg {
        display: none;
    }

    .socials-container {
        width: 100%;
    }
}


/* <===================PARTING MESSAGE===================> */
.parting-message h1 {
    margin-top: 10vh;
    text-align: center;
}

.parting-message h3{
    margin: 10vh auto;
    text-align: center;
}

.parting-message button{
    margin:  10vh auto;
}

/* <===================FOOTER===================> */

footer {
    margin-top: 20vh;
    height: fit-content;
    width: 100%;
    background-color: var(--grey-color);
    padding: 10vh 30px;
}

footer h2 {
    font-size: 2Srem;
    font-weight: normal;
}
