/* <===================TYPOGRAPHY & FONTS===================> */

@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Quicksand&display=swap');

/* <===================CSS VARIABLES===================> */

:root {
    --h1-size: 6rem;
    --h2-size: 2.1rem;
    --h3-size: 1.7rem;
    --text-size: 1.3rem;
    --horizontal-margin-spacing: 5rem;
    --grey-color-light: rgba(232, 230, 230, .6);
    --grey-color: rgba(232, 230, 230, 1);
}

/* <===================UNIVERSAL CSS===================> */

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Cinzel', serif;
    color: #212121;
}

html {
    scroll-behavior: smooth;
}

.hz-margin {
    padding: 0 var(--horizontal-margin-spacing);
}

h1 {
    font-size: var(--h1-size);
    font-weight: 500;
    line-height: var(--h1-size);
}

h2 {
    font-size: var(--h2-size);
    font-weight: bold;
}

h3 {
    font-size: var(--h3-size);
    font-weight: 500;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

.text,
a {
    font-family: 'Quicksand', sans-serif;
    font-size: var(--text-size);
    line-height: 1.3rem;
}

.huge-btn {
    display: block;
    font-size: 1rem;
    background: transparent;
    border: 1px solid #212121;
    padding: 25px 50px;
    border-radius: 50px;
    width: fit-content;
    margin: 30px 0;
}

.huge-btn:hover {
    color: grey;
    border-color: grey;
}

.v-reposition-container {
    position: absolute;
    left: 0;
    width: 100vw;
}

.h-reposition-container {
    width: 100vw;
    position: relative;
    top: 100vh;
}

/* <===================NAVBAR===================> */

nav {
    height: 3vh;
    margin-bottom: 20vh;
}

nav img {
    width: 120px;
    float: right;
    margin-right: 20px;
}

@media (max-width:1000px) {
    html {
        font-size: 10px;
    }
}

/* <===================HOME===================> */

.container-out {
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home-img {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/weddinginvite-171124.appspot.com/o/HOME.jpg?alt=media&token=6d2cdbaa-67c4-435a-81cd-373d2275f41e);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home-img-sm {
    display: none;
    width: 100%;
    margin: 20px 0 0 0;
    height: 50vh;
}

#home-img-lg {
    display: block;
    height: 110vh;
    width: 50vw;
    background-position-x: -100px;
}

@media (max-width:1000px) {
    .container-out {
        flex-direction: column;
    }

    .home-img-sm {
        display: block;
    }

    #home-img-lg {
        display: none;
    }
}

/* <===================TIMELINE===================> */

.timeline {
    display: block;
    background-color: var(--grey-color-light);
    float: left;
    position: relative;
    top: -30vh;
    width: 100%;
    backdrop-filter: blur(4px);
    padding: 8vh var(--horizontal-margin-spacing);
}

.timeline-container {
    display: flex;
    flex-direction: row;
    margin: 8vh 0;
}

.timeline-img {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/weddinginvite-171124.appspot.com/o/RINGS.jpg?alt=media&token=521f89fc-3387-4ede-b142-1e72075134e6);
    height: 70vh;
    width: 30vw;
    background-position: center;
    background-size: cover;
}

.timings {
    margin: 30px;
}

.timeline-container .text {
    padding: 1rem 0 1rem 4rem;
}

@media (max-width:1000px) {
    .timeline {
        background-color: var(--grey-color);
        float: none;
        position: relative;
        top: 0;
        width: 100%;
        backdrop-filter: blur(0);
        height: fit-content;
    }

    .timeline-container {
        flex-direction: column;
    }

    .timeline-img {
        height: 50vh;
        width: 100%;
    }
}

/* <===================STORY===================> */

@media (max-width:1000px) {
    .h-reposition-container {
        position: relative;
        top: 0;
    }
}

/* <===================GALLERY===================> */

/* .gallery {
    display: flex;
    padding: 20vh 0;
    justify-content: center;
    align-items: center;
}

.gallery-img {
    width: 30vw;
    height: 30vw;
    margin: 10px;
    background-size: cover;
    background-position: center;
}

.gallery-img:nth-child(1) {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/weddinginvite-171124.appspot.com/o/GAL1.jpg?alt=media&token=1a273cdd-98fe-408f-9c31-d2ce7f545844);
    background-position-x: right;
}

.gallery-img:nth-child(3) {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/weddinginvite-171124.appspot.com/o/GAL3.jpg?alt=media&token=caf16201-2f84-4305-9691-dec472c66246);
}

.gallery-img:nth-child(2) {
    background-position-y: top;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/weddinginvite-171124.appspot.com/o/GAL2.jpg?alt=media&token=c6776876-a107-4d3a-9cc4-533dd87ebd19);
}

@media (max-width:1000px) {
    .gallery {
        flex-direction: column;
        padding: 0;
    }

    .gallery-img {
        width: 100vw;
        height: 90vw;
        margin: 2px 0;
    }

    .gallery-img:nth-child(2) {
        position: relative;
        left: -(var(--horizontal-margin-spacing));
    }
} */

.gallery-img-1 {
    height: 100vh;
    width: 100%;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/weddinginvite-171124.appspot.com/o/GAL1.jpg?alt=media&token=1a273cdd-98fe-408f-9c31-d2ce7f545844);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    display: table;
    background-attachment: fixed;

    background-position: center;
}

.gallery-img-3 {
    height: 100vh;
    width: 100%;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/weddinginvite-171124.appspot.com/o/GAL3.jpg?alt=media&token=caf16201-2f84-4305-9691-dec472c66246);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    background-color: var(--grey-color);
    display: table;
    background-attachment: fixed;
    background-position: center;
}

.gallery-img-2 {
    height: 100vh;
    width: 100%;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/weddinginvite-171124.appspot.com/o/GAL2.jpg?alt=media&token=c6776876-a107-4d3a-9cc4-533dd87ebd19);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: table;
    background-attachment: fixed;
}

.parallax-text {
    color: white;
    font-size: 3.5rem;
    margin: 0px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

/* <===================QUOTE===================> */
.socials {
    margin: 10vh 0;
}

.socials h3 {
    width: 55vw;
    font-size: 4rem;
    text-align: center;
    margin: auto;
}

.socials .text {
    text-align: center;
    margin: 20px 0;
}

.hashtag {
    text-align: center;
    margin: 20px 0 10vh 0;
    font-size: 3rem;
}

@media (max-width:1570px) {
    .socials h3 {
        font-size: 2rem;
        line-height: 2rem;
    }
}

/* <===================HANDS===================> */

.cover {
    height: 120vh;
    width: 100%;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/weddinginvite-171124.appspot.com/o/COVER.jpg?alt=media&token=642d6bee-0dd3-4e0f-9d96-e1bd5d99341b);
    background-size: contain;
    background-position-y: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* <===================PARTING MESSAGE===================> */
.parting-message h1 {
    margin-top: 10vh;
    text-align: center;
}

.parting-message h3 {
    margin: 10vh auto;
    text-align: center;
}

.parting-message button {
    margin: 10vh auto;
}

/* <===================FOOTER===================> */

footer {
    margin-top: 20vh;
    height: fit-content;
    width: 100%;
    background-color: var(--grey-color);
    padding: 10vh 30px;
}

footer h2 {
    font-size: 2Srem;
    font-weight: normal;
}